@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: bisque;
  height: 100vh;
  display: flex;
  text-transform: uppercase;
  background-image: linear-gradient(180deg, #ff3131, #ff914d);
  background-size: 500% 500%;
  animation: animate-bg 15s infinite linear;
  justify-content: center;
  align-items: center;

  font-family: "Indie Flower", cursive;
}

@keyframes animate-bg {
  0% {
    background-position: 0 85%;
  }
  50% {
    background-position: 100% 20%;
  }

  100% {
    background-position: 0% 85%;
  }
}

main {
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background: radial-gradient(#ff3131, #ff914d);
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: #000;
  align-content: space-between;
  z-index: 7;
}

.player {
  margin-top: 0;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.886);

  width: 50%;
  height: 512px;
  align-self: center;

  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

.score {
  font-size: 2em;
}
.dice-img {
  width: 10%;
  height: 12%;

  position: absolute;
  top: 33%;
  left: 45%;
}

.btn {
  position: relative;
  width: 5rem;
  height: 5rem;
  border: none;
  padding: 10px;
  background-color: #ff3131;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  min-width: 50px;
  outline: none;
  margin: 5px;

  transition: box-shadow 0.2s;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  background-image: linear-gradient(45deg, #ff3131, #ff914d);
  margin: -5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* z-index: 4; */
}

.btn:hover,
.btn:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  width: 5rem;
  height: 5rem;
}

.hidden {
  display: none;
}

.player-active {
  background: linear-gradient(180deg, #ff5757, #ffaf00);
}

.winner {
  background-color: #ff3131;
  font-size: 2rem;

  transition: all 0.3s;
}

.winning-score-label {
  position: absolute;
  right: 0;
  top: 90px;
  width: 15%;

  height: 100px;
  z-index: 8;
  text-align: center;
  line-height: 3rem;
  padding: 3px;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
}

@media screen and (min-width: 1100px) {
  .dice-img {
    max-width: 8%;
    max-height: 12%;
    margin-left: 1.5%;
  }
}

@media screen and (min-width: 1450px) {
  .dice-img {
    max-width: 100px;
    max-height: 81px;
  }
}

/* CANVAS */
.canvas {
  position: absolute;
  width: 35%;
  height: 512px;
  border-radius: 20px;
  /* border: 1px solid black; */
}
